# Dependencies
node_modules

# Build output
public

# Cache
.quartz-cache
prof
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Obsidian
.obsidian

# Andere
.replit
replit.nix
private/
*.gif  *.gif 
